machine_learning_component/efficientNet_b0_accuracy-80.5-700mbdata/data
machine_learning_component/efficientNet_b0_accuracy-80.5-700mbdata/data1
machine_learning_component/efficientNet_b3_2.91GB_data/data
machine_learning_component/efficientNet_b0_accuracy-80.5-700mbdata
machine_learning_component/efficientNet_b3_2.91GB_data/dataset
